@import "vars_mixins";
@import "classic_custom";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
// ↑↑↑ LIFERAY CLASSIC STYLES 
// --------------------------
// ↓↓↓ CATALYST THEME STYLES 
.btn {
	@include regular-button(); 
	
	&.btn-primary {
		@include primary-button-colors();
	}
	&.btn-white {
		@include white-button();
	}
	&.btn-inverse {
		@include inverse-button();
	}
} 

.form-control { 	
	@include controls-buttons-text-styles();
	@include controls-buttons-size();
}
.inverse-styles {
	.btn:not(.btn-inverse) {
		@include white-button();
	}
	.control-label,
	.textboxlistentry-text,
	.form-control {
		color: white;
		border-color: white;
	}
	select.form-control {
		background-image : url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='512'%20height='512'%20viewBox='0%200%20512%20512'%3E%3Cpath%20class='lexicon-icon-outline'%20d='M347.913%20199.336l-81.538-85c-5.413-5.642-14.188-5.642-19.6%200l-81.538%2085c-8.731%209.101-2.548%2024.664%209.8%2024.664h163.077c12.348%200%2018.531-15.563%209.8-24.664zM165.236%20312.664l81.538%2085c5.412%205.642%2014.188%205.642%2019.6%200l81.538-85c8.731-9.101%202.548-24.664-9.8-24.664H175.035c-12.347%200-18.531%2015.563-9.8%2024.664z'%20fill='%23FFFFFF'/%3E%3C/svg%3E");
	}
	.tagselector-content {
		.textboxlistentry-holder{
			border-bottom: 2px solid white;
		}
		
	}
}
.btn-action {
	height: 50px;
	width: 50px;
}

.form-group {
	label, 
	.control-label {
		font-size: 12px;
		color: $color-pewter;
	}
}

label.radio-inline{
	padding-top: 3px;
}

.fieldset-legend {
	border-color: $color-pewter;
	border-width: 4px;
	span {
		font-family: $special-font;
    font-size: 16px;
    color: $color-pewter;
    text-transform: uppercase;
	}
}


// TAGS INPUT
.tagselector-content {
  display: flex;
  
  .textboxlistentry-holder{
    flex: 1;
		margin-right: 16px;
		border-bottom: 2px solid $color-mirage;
	}
	
	li.textboxlistentry {
		font-family:'Source Sans Pro', sans-serif;
		background-color: transparent;
		font-size: 14px;
    border: 2px solid $color-botticelli;
    padding: 3px 4px 5px 6px;
    position: relative;
    border-radius: 0px;
	}
}

// TABLE MANAGEMENT BAR
.management-bar.management-bar-default{
	background-color: transparent;
	.management-bar-collapse {
		float: right;
		.management-bar-nav {
			.management-bar-item-title {
				max-width: 100%!important;
			}
			li:not(.dropdown) a{
				margin-left: 0;
			}
		}
	}
	.btn-default, 
	.nav > li > .btn-default{
		color: $color-mirage;
		background-color: transparent;
		border: 1px solid $color-mirage;
		
		&.active {
			background-color: $color-mirage;
			color: white;
		}
	}
}




// PORTLET SPECIFICS

// CUSTOM CATALYST PORTLETS
@import "portlet/transactionWebPortlet";